.create-new-job-wrapper {
  width: 100%;
}

.select-priority-wrapper {
  width: 100%;
}

.create-job-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.select-priority-box {
  width: 100%; 
  margin: 0 20px;
}

.create-button {
  width: 150px;
}


.no-job-text {
  font-weight: 600;
  text-align: center;
  color: #000;
  margin-top: 100px;
}


.edit-modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-modal {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .create-job-items {
    flex-direction: column;
  }

  .select-priority-box {
    margin: 20px 0;
  }
}