.create-new-job-wrapper {
  width: 100%;
}

.select-priority-wrapper {
  width: 100%;
}

.create-job-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.select-priority-box {
  width: 100%; 
  margin: 0 20px;
}

.create-button {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .create-job-items {
    flex-direction: column;
  }

  .select-priority-box {
    margin: 20px 0;
  }
}