$priority-colors: (
  Trivial : #5bb5ff,
  Regular: #fcac45,
  Urgent : #ff552e
);

@each $priority,
$color in $priority-colors {
  .priority-#{$priority} {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    background-color: $color;
  }
}

.create-new-job-wrapper {
  width: 100%;
}

.select-priority-wrapper {
  width: 100%;
}

.create-job-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.select-priority-for-create-new-job-wrapper {
  margin: 0 20px;
  width: 100%;
}

.select-priority-box {
  width: 100%;
  margin: 0 20px;
}

.create-button {
  width: 150px;
}

.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divider {
  margin: 40px 0 !important;
}

.jobs-header {
  min-width: 100px;
}


.search-input-wrapper {
  width: 100%;
  padding: 0 40px;
}

.search-input {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
}

.select-priority-in-search {
  width: 120px;
}

.no-job-text {
  font-weight: 600;
  text-align: center;
  color: #000;
  margin-top: 100px;
}

.jobs-header-and-search-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.job-content-headers {
  height: 110px;
}

.priority-text {
  padding-right: 25px !important;
}

.circular-progress {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  text-align: center;
  width: 500px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.select-priority-in-modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.job-text-in-table {
  max-width: 500px;
}

.edit-job-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.delete-job-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.edit-job-modal-buttons,
.delete-job-modal-buttons {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .create-job-items {
    flex-direction: column;
  }

  .select-priority-box {
    margin: 20px 0;
  }

  .delete-job-modal {
    justify-content: space-around;
  }

  .job-content-headers {
    display: flex;
    height: 50px;
  }

  .search-input-wrapper {
    margin: 12px 0;
    padding: 0;
  }

  .search-area {
    flex-direction: column-reverse;
    align-items: center;
  }

  .select-priority-for-create-new-job-wrapper {
    margin: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 360px) {

  .buttons-wrapper-in-table {
    flex-direction: column;
    max-width: 10px;
    padding: 0;
  }

  .job-text-in-table {
    max-width: 100px;
    word-wrap: break-word;
  }

}